<div class="content" id="home">
  <div id="sidebar-button">
    <img src="/images/sidebar-button.png">
  </div>
  <div id="post-info">
    <div id="cover-photo-container">
      <img id="cover-photo" src="/images/{{ page.cover }}">
    </div>
    <div id="info-container">
      <h1 id="title">{{ page.title }}</h1>
    </div>
  </div>

  <div class="post">
    {{ content }}
  </div>
  <div class="colophon">
    <p>
      <span id="pub-date">Last edited on {{ page.date | date_to_string }}</span> <!-- todo does this even work? see if its possible to really use last edited date instead of regen date or date that is given in name of post or in the yaml front matter-->
      <!-- <span class="separator">&bull;</span>
      <span id="social">Find me on <a href="">Twitter</a>!</span> -->
    </p>
  </div>
</div>
